# ignore rules

# emacs backup files
*~

# the default build locations (mm)
/builds
/products
# the default build locations (cmake)
/build

# the link to the installed node modules so vscode can find them
# until there is a better option
/node_modules

# mac folder attributes 
**.DS_Store

# python cache; for the careless ones that run python in the source directories...
**__pycache__

# end of file
